This is a message from your UCC concerning product request: {{requestNo}}  
 {{#if product}}
    for product {{product}}
  {{/if}}
 in session {{session}} for course {{course}}.

<h2>MESSAGE</h2>
{{customerMessage}}

<p>Please log on to the UCCSS and respond</p>'
